# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/inspectionProfiles/Project_Default.xml
/.idea
/cmake-build-debug/.cmake/api/v1/reply
/cmake-build-debug/.cmake/api/v1/reply
/cmake-build-debug/.cmake/api/v1/reply
/cmake-build-debug
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-87197cea2fb71b47ee71.json
/cmake-build-debug/Testing/Temporary
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/.cmake/api/v1/reply
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-87197cea2fb71b47ee71.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-11-16T17-08-59-0489.json
cmake-build-debug/.cmake/api/v1/reply/target-DataStructures-Debug-d3846d2f3da35226969d.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/Testing/Temporary/LastTest.log
